/* Base styles */
.watch {
    margin-top: 20px;
}

.list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.list li a {
    width: 50px;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 15px;
    &:hover {
        color: #1dc749;
    }
}

.list li {
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22252a;
    &:focus {
        background-color: #1dc749;
    }
}

.list__chap--title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    color: #d3d8e1;
}

.list__chap--desc {
    margin-top: 10px;
    color: #d3d8e1;
}

.list__chap {
    width: 100%;
    padding: 10px;
    overflow: auto;
    height: 410px;
    background-color: #1a1c21;

    scrollbar-width: none;
}

.film__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.film__name,
.film__arrow {
    font-size: 2rem;
    font-weight: 600;
    color: #d3d8e1;
    text-transform: uppercase;
}

.film__chap {
    font-size: 2rem;
    font-weight: 600;
    color: #a9a9ac;
}

.film__info {
    margin-top: 20px;
}

.film__info--desc {
    margin-top: 20px;
    color: #d3d8e1;
}

.info__title {
    margin-top: 15px;
    line-height: 24px;
}

.film_stream {
    padding-top: 35px;
}

video {
    width: 100%;
}
