.footer_bar {
    margin-top: 90px;
}
.footer__title {
    color: #ff9601;

    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 20px;
}
.footer__desc {
    margin-top: 15px;
    color: white;
    font-size: 1.45rem;
    line-height: 1.6;
    opacity: 0.8;
}

.footer__list-menu {
    margin-top: 20px;
}

.menu__list {
    margin-top: 20px;
}
.menu__link {
    font-size: 1.6rem;
    color: white;
}

.support {
    margin-top: 20px;
    line-height: 24px;
}

.act__social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__line {
    margin-top: 50px;
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
}
.footer__dmca {
    margin-top: 15px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link__profile {
    display: flex !important;
    align-items: center !important;
}
